@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --primary-color: #0e237e;
  --dark-color: #353d40;
  --light-color: #aaa5a5f6;
  --danger-color: #cc3a48;
  --success-color: #28a745;

  --padding-y: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  text-align: left;
  margin-top: 2rem;
  text-transform: uppercase;
  padding: 0 10%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.text-white {
  color: white;
}

.text-grey {
  color: grey;
}

/* Components */

.nav-top {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  background-color: var(--primary-color);
  padding: 0 var(--padding-y);
}
.nav-top__li {
  display: inline;
  margin: 0 0.5rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.header__img {
  width: 120px;
}

.header__menu {
  display: flex;
}

.header__menu li {
  margin-left: 10px;
}

.header__menu li a {
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

.slider {
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  margin: 2rem 0;
}

.hightlights {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  margin: 2rem 0;
  
}
.hightlights__title {
  margin-top: 2rem;
}
.hightlights > div {
  flex: 1 1 196px;
}

.hightlights img {
  padding: 1rem;
  margin: auto;
  max-width: 196px;
  display: block;
}
.hightlights p {
  text-align: justify;
  margin: 0.2em;
  text-align: center;
}



.footer {
  background-color: var(--dark-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footer h1 {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  color: white;
}

.footer__menu {
  display: flex;
  padding: 1rem 0;
}

.footer__menu li a {
  display: block;
  padding: 10px;
  text-transform: uppercase;
  color: white;
}

/* Media Querys */

@media only screen and (max-width: 400px) {
  .header__menu li {
    margin-left: 0;
  }
  .header {
    display: flex;
    padding: 0 3%;
  }
}
